@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Fira+Sans:300,400,700);


/**********************************************************************
 * TABLE OF CONTENTS
 *
 * 1. General Styles
 * 2. Font Styles
 * 3. Nav Styles
 * 4. Footer Styles
 * 5. Tracemap Styles (Styles specific to tracemap-page)
 * 6. Stats Styles (Styles specific to stats-page)
 **********************************************************************/


/**********************************************
                1. GENERAL STYLES
 **********************************************/
* {
    font-family: 'Fira Sans', sans-serif;
}

body {
    background-color: #eee;
}


/**********************************************
                 2. FONT STYLES
 **********************************************/
h1 {
    font-family: 'Lobster', 'Fira Sans', sans-serif;
    font-size: 5em;
    text-align: center;
    margin: 20px 0 -20px 0;
}

h2 {
    text-align: center;
    margin-top: 30px;
}

h3 {
    text-align: center;
}

p {

}

i.fa {
    padding-right: 10px;
}


/**********************************************
                3. NAV STYLES
 **********************************************/
nav {
    display: block;
    width: 100%;
    height: 60px;
    line-height: 40px;
    background-color: #3E9FFF;
    font-weight: bold;
    letter-spacing: 0.8px;
}

nav ul {
    margin: 10px 10px 0 0;
    float: right;
}

nav li {
    display: inline-block;
    width: 140px;
    margin: 0 5px;
    text-align: center;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}

nav li:last-child {
    margin: 0;
}

nav li:hover,
nav li.selected {
    background-color: #007BFB;
    border-radius: 4px;
    color: #fff;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}

nav a {
    color: #000;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
}

nav a:hover,
nav .selected a {
    color: #fff;
}


/**********************************************
                4. FOOTER STYLES
 **********************************************/
footer {
    margin: 50px 20px;
    font-size: 12px;
    font-style: italic;
    float: right;
}


/**********************************************
               5. TRACEMAP STYLES
 **********************************************/
#tm-search input,
#tm-search button {
    display: block;
    margin: 20px auto;
}

#tm-search form {
    margin: 50px 0 50px 0;
}

input {
    width: 500px;
    height: 30px;
    padding: 3px 6px;
    border: none;
    box-shadow: 0 0 2px 0px #bbb;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}

input:focus,
input:hover {
    box-shadow: 0 0 8px 4px #bbb;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}

#tm-search button {
    background: #3E9FFF;
    border: none;
    width: 200px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 4px;
    border-bottom: 3px solid rgba(0, 0, 0, 0.2);
    padding: 0;
    -webkit-transition: background-color 300ms linear;
    -moz-transition: background-color 300ms linear;
    -o-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
}

#tm-search button:hover {
    background-color: #007BFB;
    -webkit-transition: background-color 300ms linear;
    -moz-transition: background-color 300ms linear;
    -o-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
}

#tm-search button:active {
    background-color: #007BFB;
    border-top: 3px solid rgba(0, 0, 0, 0.2);
    border-left: 3px solid rgba(0, 0, 0, 0.2);
    border-bottom: none;
}

#tm-map-initial {
    margin: 0 auto;
    width: 80%;
    height: 500px;
    background-color: #ccc;
    border: 1px solid black;
    background-image: url("loader.gif");
    background-repeat: no-repeat;
    background-position: center center;
}

#tm-data {
    display: none;
    list-style-type: none;
}


/**********************************************
               6. STATS STYLES
 **********************************************/
#tm-google-map-statistics figure {
    margin: 0 auto;
    width: 80%;
    height: 500px;
    background-color: #ccc;
}

#view-statistics table {
    display: table;
    width: 50%;
    margin: 0 auto 80px;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

#view-statistics thead {
    font-weight: bold;
    font-style: italic;
    border-bottom: 2px solid black;
}

#view-statistics table tr {
    border-top: 1px solid #ccc;
}

#view-statistics tr.hover,
#view-statistics tr:hover {
    background-color: #3E9FFF;
    color: #fff;
}

#view-statistics table td {
    width: 75%;
    padding: 8px;
}

#view-statistics table td:last-child {
    width: 25%;
}

/* Style piecharts */
text {
  font-size: 14px;
  font-weight: light;
}

#topTenChart svg {
  display: block;
  margin: -70px auto 0;
}
