<main id="view-statistics">

  <section id="tm-google-map-statistics">
      <h3>The ten most traced routes are:</h3>
      <div id="tm-map-initial"></div>
  </section>

  <section id="tm-statistics">
    <h2>
      General Statistics
    </h2>
    <table>
      <thead>
        <td>Stat</td>
        <td>Value</td>
      </thead>
      <tbody>
        <tr>
          <td>Number of traced URLs</td>
          <td class="numberOfTraces"></td>
        </tr>
        <tr>
          <td>Number of Hops</td>
          <td class="numberOfHops"></td>
        </tr>
        <tr>
          <td>Average time to destination</td>
          <td class="averageHopTime"></td>
        </tr>
        <tr>
          <td>Average number of hops per route</td>
          <td class="averageHopCount"></td>
        </tr>
      </tbody>
    </table>
    <h2>
        The ten most traced URLs are
    </h2>
    <div id="topTenChart"></div>
    <table>
      <thead>
        <td>URL</td>
        <td>Amounts traced</td>
      </thead>
      <tbody id="topTraces">
      </tbody>
    </table>
    <h2>
        The Countries reached are
    </h2>
    <div id="topCountries"></div>
    <table class="three-rows">
      <thead>
        <td>Flag</td>
        <td>Country</td>
        <td>Amounts traced</td>
      </thead>
      <tbody id="topCountriesTable">
      </tbody>
    </table>
  </section>

</main>
