<object>
  <main id="view-tracemap">

      <section id="tm-search">
          <form class="tm-search-form">
              <input type="text" placeholder="Destination URL">
              <button id="submitBtn">Trace it!</button>
          </form>
      </section>

      <section id="tm-google-map">
          <div id="tm-map-initial"></div>
      </section>

      <section id="tm-data-raw">
          <h2></h2>
          <ul>

          </ul>
      </section>

      <section id="tm-data">
          <h2></h2>
          <p></p>
          <table id="traceroute-table">
            <thead>
              <tr>
                <td>Country</td><td>Hop-Nr</td><td>Host</td><td>Ip-Address</td><td>1st Response</td><td>2nd Response</td><td>3rd Response</td>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
      </section>

  </main>
</object>
